<div class="header">
  <h1>Welcome to Puppygotchi!</h1>
</div>
<div class="background-image">
</div>
<div class="body">
  <h2>Your Kennel:</h2>
  <table border=1>
    <tr>
      <th>Name:</th>
      <th>Belly:</th>
      <th>Bladder:</th>
      <th>Bowel:</th>
      <th>Bored?</th>
    </tr>
    <% @puppies.each do |puppy| %>
      <tr>
        <td><%= link_to puppy.name, puppy_path(puppy.id) %></td>
        <td><%= puppy.stomach %></td>
        <td><%= puppy.bladder %></td>
        <td><%= puppy.bowel %></td>
        <td><%= puppy.bored %></td>
      </tr>
    <% end %>
  </table>
</div>
<p>
<%= link_to "Adopt a Puppy", action: "new" %>
</p>
