<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <title>Puppygotchi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Welcome to Puppygotchi!</h1>
      <ul>
        <% if @current_user %>
          <li>
            <%= link_to "Log Out", session_path(@current_user.id), data: { method: :delete } %>
          </li>
        <% else %>
          <li>
            <%= link_to "Log In", new_session_path %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </div>
    <%= yield %>
    <div class="footer">
      <p class="copyright">
        &copy 2017 Mina Slater
      </p>
      <p class="contacts">
        <%= link_to image_tag("github.png", class: "footer__link--image"), "https://github.com/minaslater", class: "footer__link" %>
        <%= link_to image_tag("twitter.png", class: "footer__link--image"), "https://twitter.com/Minar528", class: "footer__link" %>
      </p>
    </div>
  </body>
</html>
